#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-columns: 4fr 3fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background: radial-gradient(rgb(0,0,0), rgb(65,65,65));
    font-family: 'Montserrat', sans-serif;
}
/* grid positions and sizes */
.title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.synopsis {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-height: 80vh;
  align-self: center;
}
.details-image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-height: 80vh;
}
.return-link {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

/* child element styles */
.title > h1 {
    font-size: calc(20px + 3vw);
    color: #E50914;
    padding-top: 20px;
}

.synopsis p{
    color: rgb(255,255,255);
    font-size: calc(10px + 1.6vw);
    line-height: 1.25em;
    padding: 0px 20px 0px 20px;
    max-height: 80vh;
    font-family: 'Courier New', Courier, monospace;
  }

.details-image img {
    max-height: 80vh;
} 

.return-link a {
    font-size: calc(12px + 1vw);
    padding-bottom: 20px;
    color: red;
  }

@media screen and (max-width: 600px) {
  #container { 
    display: block;
  }
  .synopsis, .synopsis > p {
    padding: 20px;
  }
  .details-img, .details-image img {
    max-height: 41vh;
  }
}